.container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
}

.item {
  background-color: #ccc;
  padding: 20px;
}

.title {
  justify-content: center;
  display: flex;
}

.full-width {
  width: 100%;
}

.encode-content {
  align-self: center;
}

.encode-button {
  justify-content: center;
  display: flex;
}
