<mat-toolbar color="primary" class="toolbar-with-image">
  <div id="nav-icon2" (click)="toggleButton()" [ngClass]="{ open: isMenuOpen }">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <span class="created-by">Developed By Juan Stiven Muñoz Garcia</span>
  <span class="spacer"></span>
  <button mat-icon-button class="favorite-icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
