<div class="button-container">
  <button mat-button color="primary" (click)="selectComponent('hash')">
    <mat-icon matSuffix svgIcon="hasher"></mat-icon>
    Hash
  </button>
  <button mat-button color="accent" (click)="selectComponent('bloque')">
    <mat-icon matSuffix svgIcon="block"></mat-icon>
    Bloque
  </button>
  <button mat-button color="warn" (click)="selectComponent('blockchain')">
    <mat-icon matSuffix svgIcon="blockchain"></mat-icon>
    Blockchain
  </button>
  <button mat-button color="primary" (click)="selectComponent('mineros')">
    <mat-icon matSuffix svgIcon="mining"></mat-icon>
    Mineros
  </button>
  <button mat-button color="accent" (click)="selectComponent('moneda')">
    <mat-icon matSuffix svgIcon="coin"></mat-icon>
    Moneda
  </button>
</div>
